.new-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #e0e7ff;
  width: 600px;
  height: 200px;
  color: #4338ca;
  margin: 20px 0;
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.new-comment button {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid blue;
  background-color: blue;
  color: #ffffff;
  padding: 7px;
  cursor: pointer;
}
